[access]
	inheritFrom = All-Projects
[submit]
[project]
	description = Parallel Heterogeneous Object Store
[access "refs/*"]
	owner = group user/Florent Monjalet (fmonjalet)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Florent Monjalet (fmonjalet)
	label-Verified = -1..+1 group user/Florent Monjalet (fmonjalet)
	push = group user/Florent Monjalet (fmonjalet)
	read = group user/Florent Monjalet (fmonjalet)
	rebase = group user/Florent Monjalet (fmonjalet)
	removeReviewer = group user/Florent Monjalet (fmonjalet)
	submit = group user/Florent Monjalet (fmonjalet)
[access "refs/heads/*"]
	create = group user/Florent Monjalet (fmonjalet)
	push = +force group user/Florent Monjalet (fmonjalet)
	pushMerge = group user/Florent Monjalet (fmonjalet)
	read = group user/Florent Monjalet (fmonjalet)
[access "refs/tags/*"]
	push = group user/Florent Monjalet (fmonjalet)
	push = +force group user/Florent Monjalet (fmonjalet)
